/* Unused samples for overrides example. */

.navbar-default .navbar-brand {
  color: blue;
}

.navbar-brand img {
    width: auto;
    height: 20px;
}

li img {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

.section img.align-center {
  margin-bottom: 20px;
}

p.admonition-title {
    font-weight: bold;
    background-color: #D1D0CE;
    border: #000000;
}


.alert-info {
    background-image: -webkit-linear-gradient(top, #e6ffe60 0%, #ccffcc 100%);
    background-image:      -o-linear-gradient(top, #e6ffe6 0%, #ccffcc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e6ffe6), to(#ccffcc));
    background-image:         linear-gradient(to bottom, #e6ffe6 0%, #ccffcc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6ffe6de', endColorstr='#ccffccc3', GradientType=0);
    background-repeat: repeat-x;
    border-color: #348017;
}

div.topic {
    border: none;
}

footer {
    background-color: #cce6ff;
}

.h3, h3 {
    font-size: 18px;
}

.h3, .h4, .h5, .h6, h3, h4, h5, h6 {
    background-color: #cce6ff;
}

.h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
    margin-bottom: 10px;
}

blockquote {
  font-size: 14px;
}
