/* Unused samples for overrides example. */

.navbar-default .navbar-brand {
  color: blue;
}

.navbar-brand img {
    width: auto;
    height: 20px;
}

li img {
  margin-bottom: 20px;
}

.alert-info {
    background-image: -webkit-linear-gradient(top, #e6ffe60 0%, #ccffcc 100%);
    background-image:      -o-linear-gradient(top, #e6ffe6 0%, #ccffcc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e6ffe6), to(#ccffcc));
    background-image:         linear-gradient(to bottom, #e6ffe6 0%, #ccffcc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6ffe6de', endColorstr='#ccffccc3', GradientType=0);
    background-repeat: repeat-x;
    border-color: #dca7a7;
}

div.topic {
    background-color: #6699ff;
}

footer {
    background-color: #cce6ff;
}
